<!DOCTYPE html>
<html>
  <head>
    <title>Demo using ScribeJS</title>
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" charset="utf-8">
  </head>
  <body>
    {{{body}}}

		<script charset="utf-8"
      data-main="main"
      src="node_modules/steal/steal.js">
    </script>
  </body>
</html>
